<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>testing</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
  <link rel="manifest" href="/static/site.webmanifest">
  <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <h1>Testing...</h1>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates aperiam modi vitae aut exercitationem fuga ex nobis voluptatibus quae laudantium blanditiis consectetur earum atque, optio debitis. Mollitia minima magnam suscipit.
  Suscipit possimus labore pariatur dolores nesciunt maiores maxime repudiandae quas fugit at doloremque, voluptas sapiente odit iure consequuntur deserunt veniam aut iste illum quidem officia sit exercitationem vero? Mollitia, sequi.
  Quidem animi aliquid nihil optio mollitia eos perferendis reprehenderit facere architecto enim. Minus quia molestiae maxime illo sequi facere, porro obcaecati dolorum officiis. Exercitationem, expedita dolores rerum ipsa vel neque?
  Magnam dicta velit rerum maiores, dolore, ut perspiciatis molestias illo aut, similique non cumque necessitatibus provident reiciendis consectetur incidunt veniam nobis ullam. Voluptatem dolor sed commodi alias a optio incidunt!
  Et aliquam, amet eius debitis possimus magnam repellat ex earum, cumque, deserunt itaque ea beatae voluptatem error sunt illo expedita fugit fugiat enim? Illo distinctio minima, aliquid officiis dignissimos itaque.</p>
</body>
</html>
